/*tap on*/
.btn-menu-main-on-middle {

    display: none;
}

.btn-menu-main-on-top {
    animation: btn-menu-main-on-animation-top 1s;
    animation-fill-mode: forwards;
    transform-origin: 0 50%;
  

}

.btn-menu-main-on-bottom {
    animation: btn-menu-main-on-animation-bottom 1s;
    animation-fill-mode: forwards;
    transform-origin: 0 50%;
  

}


@keyframes btn-menu-main-on-animation-top {

    0% {
        transform: rotate(0);
    }

    50% {

        transform: translate(0px, 16px);
    }

    100% {
        transform: translate(23px, 16px) rotate(-135deg);
    }

}

@keyframes btn-menu-main-on-animation-bottom {

    0% {
        transform: translate(0, 0);
       
    }

    50% {
      
        transform: translate(0px, -16px);
    }

    100% {
       
       
        transform: translate(23px, -16px) rotate(135deg);
    }

}

/*tap-off*/

.btn-menu-main-off-top {
    animation: btn-menu-main-off-animation-top 1s;
    animation-fill-mode: forwards;
    transform-origin: 0 50%;
    
    

}

.btn-menu-main-off-bottom {
    animation: btn-menu-main-off-animation-bottom 1s;
    animation-fill-mode: forwards;
    transform-origin: 0 50%;
   
 

}


@keyframes btn-menu-main-off-animation-top {

    0% {
        transform: translate(23px, 16px) rotate(-135deg);
    }

    50% {

        transform: translate(0px, 16px);
    }

    100% {
        transform: rotate(0);
    }

}

@keyframes btn-menu-main-off-animation-bottom {

    0% {
        transform: translate(23px, -16px) rotate(135deg);
       
    }

    50% {
      
        transform: translate(0px, -16px);
    }

    100% {
       
       
        transform: translate(0, 0);
    }

}


/* BURGER-MENU */
.burger-menu_display--off {
   display: none;
}

.burger-menu_translate--l {
    animation: moveLeft 1s;
    animation-fill-mode: forwards;

}
.burger-menu_translate--r {
    animation: moveRight .5s;
    animation-fill-mode: forwards;

}

@keyframes moveLeft {

    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0)
    }

}

@keyframes moveRight {

    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(100%)
    }

}

