.header {
    text-align: center;
  }

.flex-container {
    display: flex;
    justify-content: center

  }

  .body-left {
    padding: 5px;
  }
  .body-center {
    padding-left: 150px;
    padding-right: 150px;
  }
  .body-right {
    padding: 5px;
  }

  .footer {
    text-align: center;
  }