.header {
    padding: 5%;
    text-align: center;
    background-color: chartreuse;
  }

.flex-body {
    display: flex;

  }

  .body-left {
    padding: auto;
    background-color: blue;
  }
  .body-center {
    padding: 15%;
    background-color: blueviolet;
  }
  .body-right {
    padding: auto;
    background-color: brown;
  }

  .footer {
    padding: 5%;
    text-align: center;
    background-color: darkorchid;
  }