.header {
  flex: 1;
    padding: 5%;
    text-align: center;
    background-color: chartreuse;
  }

.flex-body {
    border: solid 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

  .flex-body-child {
    flex: 1;

  }

  .body-left {
    background-color: blue;
    min-width: 500px;
  }
  .body-center {
    background-color: blueviolet;
  }
  .body-right {
    background-color: brown;
  }

  .footer {
    padding: 5%;
    text-align: center;
    background-color: darkorchid;
  }