html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    background: #E5E5E5;
    scroll-behavior: smooth;
}

p {
    margin: 0;
}

h1 {
    font-family: 'Aleo', serif;
    font-size: 80px;
    color: white;
    margin: 0;
    padding-top: 32px;
}

h2 {
    scroll-margin-top: 10px;
    /****for anchor links with fixed position of header****/
    margin: 0;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;

    color: #F2785C;

}

h3 {
    margin: 0;
    margin-top: 1px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    color: #0D606F;
}


/* MAIN */
.main {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
}





/* SECTION HEADER */
.header {
    padding: 0 120px 0 120px;
    height: 90px;
    width: 100%;
    display: flex;


    background-color: #F2785CB2;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}


.logo {
    display: flex;
}

.logo-txt {
    margin-left: 6px;
    min-width: 172px;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

    color: #FFFFFF;
}

.main-menu {
    height: 100%;
    margin-right: 70px;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
}

.menu-list-item {
    display: flex;
    align-items: center;
}

.a-nav {
    text-decoration: none;
    padding-left: 21px;
    padding-right: 21px;

    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #ffffff;
    transition: 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.a-nav:hover {
    background-color: #f2775c;
}

.btn-login {
    background-color: #0D606F;
    padding: 10px 30px 10px 30px;
    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    transition: .3s linear;
}

.btn-login:hover {
    background-color: #0d606f91;
    cursor: pointer;
}

.a-btn-login {
    padding: 0;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}


/* SECTION PLAN-YOUR-TRIP */
.section-plan-your-trip {
    background-image: url(./img/garrettParker.png);
    background-size: cover;
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    padding-bottom: 254px;
}

.indent {
    margin-left: 120px;
}


.explore-txt {
    margin-top: 32px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 892px;
    height: 95px;
    margin-top: 46px;
    padding-left: 41px;
    padding-right: 18px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.search-form-txt {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #F2785C;
}

.search-link {
    text-decoration: none;
    padding: 14px 34px 14px 34px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: #FFFFFF;
    background: #0D606F;

    border-radius: 10px;
    transition: .3s linear;
}

.search-link:hover {
    background: #0d606f91;
    cursor: pointer;
}

/******************** SECTION STEPS ********************/
.section-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding-top: 80px;
}

.steps-pattern {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.steps-frames {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    min-width: 317px;
}

.steps-frames-middle {}

.steps-frames-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2785C;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 16px;
    margin: 30px;

    transition: .3s linear;
}

.steps-frames-link:hover {
    background-color: #f2775cb0;
}

.steps-frames-txt {
    text-align: center;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #0D606F;
}


/******************** SECTION DESTINATIONS ********************/
.section-destinations {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 97px;
}

.destinations-pattern {
	display: flex;
   
	gap: 60px;
	padding-top: 46px;
    width: 2460px;
}

.destinations-frames {
    display: flex;
    align-items: flex-end;
	width: 800px;
	height: 800px;
	border-radius: 16px;
}

.spain {
 
	background-image: url(./img/spain.jpg);

}

.japan {

	background-image: url(./img/japan.jpg);

}

.usa {

	background-image: url(./img/usa.jpg);

}

.country-name {
    padding-left: 15px;
    padding-bottom: 40px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;

    color: #ffffff;

}

.ellipse-pattern {
    display: flex;
    height: 20px;
    margin-top: 24px;
    gap: 10px;
}

.btn-ellipse {
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: #f2775c86;
    cursor: pointer;

    transition: .3s linear;
}

.btn-ellipse:hover {
    background-color: #F2785C;
}

.btn-ellipse-pressed {
    background-color: #F2785C;
    cursor: pointer;
}

.link-see-more {
    gap: 11.5px;
    margin-top: 36px;
    padding: 14px 33px 14px 33px;
}

.link-find-more {
    gap: 12.5px;
    margin-top: 40px;
    padding: 14px 33px 14px 33px;
}

.link-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D606F;
    border-radius: 10px;

    transition: .3s linear;
}

.link-frame:hover {
    background: #0d606f91;
    cursor: pointer;
}

.link-a-style {
    text-decoration: none;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: #FFFFFF;
}



/******************** SECTION STORIES ********************/
.section-stories {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 80px;
}

.stories-main {
    display: flex;
    flex-direction: column;

    margin-top: 40px;

    background-image: url(./img/footerBg.jpg);
    background-size: cover;
}

.stories-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 40px;
}

.stories-columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding-top: 14px;
}

.stories-rows {
    display: flex;
    margin-top: 26px;
    text-align: left;
}

.stories-p {
    text-align: left;
    margin-top: 23px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #0D606F;

}

.stories-img {
    margin-right: 40px;
    border-radius: 16px;

    box-shadow: 0px 4px 4px #0D606F;
}

.read-more-link {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #0D606F;

    transition: .3s linear;
}

.read-more-link:hover {
    color: #0d606faf;
}

.footer {
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.footer-txt {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.rs-links {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 140px;
    gap: 18px;
}

.social-media {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 121px;
    gap: 18px;
}