body,html {
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}


.body-header {
  min-width: 1060px;
  height: 20%;
  min-height: 100px;
  padding: 30px ;
}


.flex-body {
  height: 80%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

  .flex-body-child {
flex: 1;
padding: 30px ;
  }

  .body-header{
    background-color: rgb(48, 44, 44);
  }
  .body-article {
    background-color: rgb(228, 221, 238);
    flex-grow: 3;
    min-width: 700px;
  }
  .body-aside {
    background-color: rgb(109, 99, 99);
    flex-grow: 1;
    min-width: 300px;
  }